@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?49149400");
  src: url("../fonts/fontello.eot?49149400#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?49149400") format("woff2"), url("../fonts/fontello.woff?49149400") format("woff"), url("../fonts/fontello.ttf?49149400") format("truetype"), url("../fonts/fontello.svg?49149400#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?49149400#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-ok:before {
  content: '\2714'; }

body {
  min-width: 360px;
  margin: 0;
  background-color: #f8f8f8;
  color: grey;
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }
  body, body h5 {
    font-weight: bold; }

label {
  margin-bottom: 0; }

.card-form input {
  border: none;
  border-bottom: 1px solid black; }
  .card-form input:focus {
    outline: none;
    border-bottom-color: lightgreen; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input:focus {
  outline-color: lightgreen; }

input[type=text]::-webkit-input-placeholder, input[type=number]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder {
  font-size: 18px;
  font-weight: bold;
  color: grey; }
input[type=text]:-moz-placeholder, input[type=number]:-moz-placeholder, input[type=email]:-moz-placeholder {
  font-size: 18px;
  font-weight: bold;
  color: grey; }
input[type=text]::-moz-placeholder, input[type=number]::-moz-placeholder, input[type=email]::-moz-placeholder {
  font-size: 18px;
  font-weight: bold;
  color: grey; }
input[type=text]:-ms-input-placeholder, input[type=number]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder {
  font-size: 18px;
  font-weight: bold;
  color: grey; }

.sender-exp_date input::-webkit-input-placeholder {
  font-size: 20px;
  font-weight: bold;
  color: black; }
.sender-exp_date input:-moz-placeholder {
  font-size: 20px;
  font-weight: bold;
  color: black; }
.sender-exp_date input::-moz-placeholder {
  font-size: 20px;
  font-weight: bold;
  color: black; }
.sender-exp_date input:-ms-input-placeholder {
  font-size: 20px;
  font-weight: bold;
  color: black; }

#sender-num, #sender-exp_month, #sender-exp_year, #sender-cvv, #reciever-num, #email, #transition_sum, #total_sum, .input-currency {
  font-size: 20px;
  font-weight: bold; }

.card-form {
  width: 360px;
  height: 210px;
  padding: 45px 30px 0px 30px;
  background-color: white;
  border-radius: 15px;
  color: black;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); }
  .card-form_sender {
    margin-right: 30px;
    padding-top: 0; }

.sender-card-img {
  width: 50px;
  height: 32px;
  margin-top: 13px; }

.card-form_sender-bottom {
  margin-top: 15px; }

.sender-exp_date input {
  width: 50px;
  text-align: center; }
.sender-exp_date div:after {
  content: " / ";
  margin: 0px 5px; }

.sender-cvv {
  margin-left: 80px; }
  .sender-cvv input {
    width: 65px;
    text-align: center; }

.form-tooltip {
  position: relative;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  width: 24px;
  height: 24px;
  cursor: pointer; }

.cvv-tooptip {
  top: -5px; }

.cvv-tooptip-wrapper {
  height: 10px; }

.add_msg-tooltip {
  border-color: grey; }

.input-fields input {
  width: 360px;
  height: 45px; }
  .input-fields input[type=submit] {
    height: 40px; }
.input-fields label {
  margin-bottom: 0; }
.input-fields > label {
  margin-top: 4px; }

.input-currency-wrapper {
  height: 0px; }

.submit-button {
  background-color: #49914d;
  border: none;
  color: white; }

@media (max-width: 767.98px) {
  .card-form {
    margin-right: 0px; }

  .input-fields input {
    width: 100%; }

  .main-form {
    width: 100%; }

  .input-currency {
    position: absolute;
    right: 25px;
    margin-top: 7px; } }
@media (min-width: 768px) {
  .input-currency {
    position: relative;
    left: 310px;
    top: 6px; } }
.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.checkbox-email {
  width: 360px;
  margin-right: 30px; }

.checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 20px; }

.checkbox label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 5px;
  background-color: #f8f8f8; }

input[type=checkbox] {
  display: none;
  font-family: 'fontello'; }

.checkbox label:before {
  background-color: #f8f8f8;
  border: 1px solid grey; }

input[type=checkbox]:checked + label:before {
  font-family: 'fontello';
  content: "\2714";
  font-size: 12px;
  color: black;
  text-align: center;
  line-height: 15px; }

/*# sourceMappingURL=main.css.map */