
// Extra small and small devices (<768px)
@media (max-width: 767.98px) {
.card-form{
    margin-right: 0px;
}
.input-fields input{
    width: 100%;
}
.main-form{
    width:100%;
}
.input-currency{
  position: absolute;
  right: 25px;
  margin-top: 7px;
}
}

// Medium devices or bigger (768px and up)
@media (min-width: 768px) {
.input-currency{
  position: relative;
  left: 310px;
  top: 6px;
}
}
