.checkbox{
	display: inline-flex
}
.checkbox-email{
    width:360px;
    margin-right: 30px;
}
.checkbox label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 20px;	
}
.checkbox label:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 5px;
	background-color: $bg-color;
}

input[type=checkbox] {
	display: none;
	font-family: 'fontello';
}
.checkbox label:before {
	background-color: $bg-color;
    border: 1px solid $form-text-color;
}

input[type=checkbox]:checked + label:before {
	font-family: 'fontello';
	content: "\2714";
	font-size: 12px;
	color: $card-text-color;
	text-align: center;
    line-height: 15px;	
}
