body
  min-width: 360px
  margin: 0
  background-color: $bg-color
  color: $form-text-color
  font-family: 'Open Sans', sans-serif
  font-size: 14px
  &, h5
    font-weight: bold

label
  margin-bottom: 0

.card-form input
  border: none
  border-bottom: 1px solid black
  &:focus
    outline: none
    border-bottom-color: $focus-color
//отключение стрелок для изменения числа
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button 
  -webkit-appearance: none 
  margin: 0

input:focus
  outline-color: $focus-color

@mixin placeholder($font-size: 18px, $color: $form-text-color)
  &::-webkit-input-placeholder
    font-size: $font-size
    font-weight: bold
    color: $color
  &:-moz-placeholder
    font-size: $font-size
    font-weight: bold
    color: $color
  &::-moz-placeholder
    font-size: $font-size
    font-weight: bold
    color: $color
  &:-ms-input-placeholder
    font-size: $font-size
    font-weight: bold
    color: $color

input[type=text], input[type=number], input[type=email]
  @include placeholder()

.sender-exp_date input
  @include placeholder($font-size: 20px, $color: $card-text-color)

#sender-num, #sender-exp_month, #sender-exp_year, #sender-cvv, #reciever-num, #email, #transition_sum, #total_sum, .input-currency
  font-size: 20px
  font-weight: bold

.card-form
  width: 360px
  height: 210px
  padding: 45px 30px 0px 30px
  background-color: $form-bg-color
  border-radius: 15px
  color: $card-text-color
  box-shadow: 0 10px 30px rgba(0,0,0,0.2)
  &_sender
    margin-right: 30px
    padding-top: 0

.sender-card-img
  width: 50px
  height: 32px
  margin-top: 13px

.card-form_sender-bottom
  margin-top: 15px

.sender-exp_date
  & input
    width: 50px
    text-align: center
  & div:after
    content: ' / '
    margin: 0px 5px
.sender-cvv
  margin-left: 80px
  & input
    width: 65px
    text-align: center

.form-tooltip
  position: relative
  border: 1px solid black
  border-radius: 50%
  text-align: center
  width: 24px
  height: 24px
  cursor: pointer

.cvv-tooptip
  top: -5px

.cvv-tooptip-wrapper
  height: 10px

.add_msg-tooltip
  border-color: $form-text-color

.input-fields
  & input
    width: 360px
    height: 45px
    &[type=submit]
      height: 40px
  & label
    margin-bottom: 0
  & > label
    margin-top: 4px

.input-currency-wrapper
  height: 0px

.submit-button
  background-color: $btn-color
  border: none
  color: white









